<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Firebase needs internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Campus-Inator"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusEventDiscoverySystem">

        <!-- First screen when app opens -->
        <activity
            android:name=".activities.RoleSelectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Keep MainActivity so teammates don't lose their work -->
        <activity android:name=".MainActivity"/>

        <!-- Login — needed before we build it so app doesn't crash -->
        <activity android:name=".activities.LoginActivity"/>
        <activity android:name=".activities.AdminDashboardActivity"
            android:theme="@style/Theme.Admin"/>
        <activity android:name=".activities.EventsListActivity"
            android:theme="@style/Theme.Admin"/>
        <activity android:name=".activities.PrivacySettingsActivity"/>
        <activity android:name=".activities.SignupActivity"/>

        <activity android:name=".activities.EventManagerDashboardActivity"/>
        <activity android:name=".activities.CreateEventActivity"/>
        <activity android:name=".activities.EditEventActivity"/>
        <activity android:name=".activities.RsvpActivity"/>
        <activity android:name=".activities.NotificationsActivity"/>
        <activity android:name=".activities.EventHistoryActivity"/>
        <activity android:name=".activities.EventManagerProfileActivity"/>
        <activity android:name=".activities.EventManagerEventsActivity"/>

        <activity android:name=".activities.StudentProfileActivity"/>
        <activity android:name=".activities.StudentHomeActivity"/>
        <activity android:name=".activities.SearchActivity"/>

        <!-- US-10: Trending Events (Student home) -->
        <activity android:name=".activities.TrendingEventsActivity"/>
        <!-- US-21: Event Detail + Calendar Export -->
        <activity android:name=".activities.EventDetailActivity"/>
        <!-- US-27 / US-32: Attendee List + Seat Confirmation -->
        <activity android:name=".activities.AttendeeListActivity"/>






    </application>
</manifest>